#header{
	margin-top:40px;
	text-align:center;
}

#description{
	margin-top:40px;
}

#thank-you{
	margin-top:40px;
	text-align:center;
}

#subscribe{
	margin-top:40px;
}

#subscribe input{
	float:left;
}

#subscribe input[type="submit"]{
	margin-left:10px;
}